.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.text-strong {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

@mixin badge-box($color: var(--main-font-color), $border-color: var(--border-color)) {
  border: 1px solid;
  border-radius: 7px;
  padding: 1px 8px;
  margin: 0 3px;
  font-size: 0.8em;
  font-weight: bold;
  color: $color;
  border-color: $border-color;
}

@mixin base-input-form {
  background-color: var(--main-background-color);
  border: solid 1px var(--border-color);
  border-radius: 3px;
  color: var(--main-text-color);

  &::placeholder {
    color: var(--main-text-color);
    text-align: center;
  }
}

@mixin base-button($border-radius) {
  background-color: var(--main-background-color);
  border: solid 1px var(--border-color);
  border-radius: $border-radius;
  color: var(--main-text-color);
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: var(--sub-background-color);
  }
}

.tooltip {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
    visibility: hidden;
    top: 50%;
    z-index: 10;
  }

  $tip-width: 9px;
  &::before {
    border-color: transparent var(--tooltip-background-color) transparent transparent;
    border-style: solid;
    border-right-width: $tip-width;
    content: "";
    left: calc(100%);
  }

  &::after {
    content: attr(data-tooltip);
    background: var(--tooltip-background-color);
    border-radius: 5px;
    color: var(--tooltip-text-color);
    display: block;
    font-size: 90%;
    font-weight: bold;
    left: calc(100% + #{$tip-width + 2px});
    padding: 3px 8px;
    white-space: nowrap;
  }

  &:hover {
    &::before, &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}
