.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.text-strong {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.text-tiny {
  font-size: 0.75em;
}

.text-small {
  font-size: 0.9em;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.padding-bottom {
  padding-bottom: 8px;
}
