.content-list {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: 1em;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.content-list-header {
  position: absolute;
  top: -0.7em;
  background-color: var(--main-background-color);
}

@mixin content-box($border-color) {
  cursor: pointer;
  padding: 0.4em 1em;
  margin: 1em 0;
  border-left: solid 10px $border-color;
  border-bottom: solid 2px $border-color;
}

.content-box-open {
  @include content-box(var(--color-open));
}

@mixin base-content-description($justify-content) {
  display: flex;
  justify-content: $justify-content;
  font-size: 80%;
  padding-top: 7px;
  padding-bottom: 7px;

  span {
    margin-right: 5px;
    i {
      font-size: 90%;
      margin-right: 3px;
    }
    > i {
      margin-left: 4px;
    }
  }
}

.content-title {
  font-size: 1.1em;
  font-weight: bold;
}
