.app-input-form {
  background-color: var(--main-background-color);
  border: solid 1px var(--border-color);
  border-radius: 3px;
  color: var(--main-text-color);

  &::placeholder {
    color: var(--main-text-color);
    text-align: center;
  }
}

.app-input-button {
  cursor: pointer;
  border-radius: 30%;
  background-color: transparent;
  border-color: var(--border-color);
  color: var(--main-font-color);
  outline: none;
  padding: 4px 6px;
}

.app-font-button {
  cursor: pointer;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  border-color: var(--border-color);
  border-radius: 50%;
  outline: none;
}
