:root {
  --color-black: #2e2d2d;
  --color-dark-gray: #504f4f;
  --color-gray: #606060;
  --color-light-gray: #c2c0c0;
  --color-bright-gray: #dfdfdf;
  --color-white: #fdfdfd;
  --color-dark-red: #ce2b3e;
  --color-red: #ff3e55;
  --color-light-red: #f88f8f;
  --color-orange: #ff953e;
  --color-green-light1: #47a740;
  --color-green-light: #4bc243;
  --color-green-dark: #278120;
  --color-blue: #108fd8;
  --color-purple: #8a2be2;
  --color-light-blue: #c8ebfb;

  /* [app-theme="light"] */
  --main-font-color: var(--color-black);
  --sub-font-color: var(--color-gray);
  --main-background-color: var(--color-white);
  --sub-background-color: var(--color-light-gray);

  --tooltip-text-color: var(--color-white);
  --tooltip-background-color: var(--color-gray);

  --link-color: var(--color-gray);
  --link-color-active: var(--color-dark-red);

  --notice-color: var(--color-dark-red);
  --warning-color: var(--color-dark-red);
  --focused-color: var(--color-light-blue);
  --border-color: var(--color-gray);

  --button-hover-color: var(--color-dark-gray);
  --button-hover-text-color: var(--color-white);

  --color-diff-plus: var(--color-green-dark);
  --color-diff-minus: var(--color-red);

  --color-open: var(--color-green-light);
  --color-draft-release: var(--color-red);
  --color-prerelease: var(--color-orange);
  --color-closed-issue: var(--color-purple);
  --color-closed-pr: var(--color-red);
  --color-draft-pr: var(--color-dark-gray);
  --color-merged-pr: var(--color-purple);
  --color-commit: var(--color-light-gray);
}

[app-theme='dark'] {
  --main-font-color: var(--color-white);
  --sub-font-color: var(--color-bright-gray);
  --main-background-color: var(--color-black);
  --sub-background-color: var(--color-gray);

  --tooltip-text-color: var(--color-white);
  --tooltip-background-color: var(--color-gray);

  --link-color: var(--color-light-gray);
  --link-color-active: var(--color-dark-red);

  --notice-color: var(--color-light-red);
  --warning-color: var(--color-red);
  --focused-color: var(--color-light-blue);
  --border-color: var(--color-light-gray);

  --button-hover-color: var(--color-white);
  --button-hover-text-color: var(--color-black);

  --color-diff-plus: var(--color-green-light);
  --color-diff-minus: var(--color-red);

  --color-open: var(--color-green-dark);
  --color-draft-release: var(--color-red);
  --color-prerelease: var(--color-orange);
  --color-closed-issue: var(--color-purple);
  --color-closed-pr: var(--color-red);
  --color-draft-pr: var(--color-dark-gray);
  --color-merged-pr: var(--color-purple);
  --color-commit: var(--color-gray);
}
